/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #ffffff;
  background-color: #bdac98;
}

/* logo */
.logo {
  display: flex;
  gap: 20px;
}

/* links */
.links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.links a {
  color: #ffffff;
}

/* det */
.det {
  text-align: center;
  color: #ffffff;
  background-image: url(./images/THE\ DETAILS.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 260px 0;
  font-size: 40px;
  margin-bottom: 80px;
}

/* intro */
.intro {
  text-align: center;
  padding: 200px 0;
  border: 6px #bdac98;
  border-radius: 2rem;
  background-color: #bdac98;
  font-size: 30px;
  width: 85%;
  margin: auto;
  color: #ffffff;
}

/* RSVP */
.RSVP {
  margin-top: 30px;
}

/* button */
.button {
  padding: 20px 0;
  margin-top: 80px;
  background-color: #c4b9b9;
  border-radius: 2rem;
  border: #bdac98;
}

.button a {
  text-decoration: none;
  color: #ffffff;
  padding-left: 150px;
  padding-right: 150px;
}

/* pic */
.pic {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 400px;
  height: auto;
  margin-top: 20px;
  align-items: center;
}

.pic img {
  width: 266%;
  border-radius: 1rem;
}

/* invite */
.invite {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  color: #ffffff;
}

/* in */
.in {
  border: 1px solid #bdac988b;
  background-color: #bdac988b;
  margin-left: auto;
  text-align: center;
  width: 41%;
  border-radius: 1rem;
  line-height: 40px;
  /* height: 60%; */
}

.in dd {
  font-size: 27px;
  margin-top: 40px;

}

.in dt {
  font-size: 18px;
}

/* out */
.out {
  margin-right: auto;
  border: 1px solid #bdac988b;
  background-color: #bdac988b;
  text-align: center;
  width: 41%;
  border-radius: 1rem;
  line-height: 40px;
}

.out dd {
  font-size: 27px;
  margin-top: 100px;
}

.out dt {
  font-size: 18px;
}

/* Travel */
.Travel {
  margin-top: 30px;
  text-align: center;
  color: #ffffff;
  background-image: url(./images/TRAVEL\ AND\ STAY.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 170px 0;
}

/* elm */
.elm {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* golden */
.golden {
  width: 35%;
  text-align: center;
  padding: 20px;
  background-color: #bdac988b;
  padding-top: 170px;
  font-size: 20px;
  margin-bottom: 90px;
}

/* flower */
.flower {
  width: 400px;
  margin-bottom: 90px;
}

.flower img {
  width: 100%;
}

/* Inn */
.Inn {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.mirror {
  width: 400px;
  margin-bottom: 90px;
}

.mirror img {
  width: 100%;
}

/* mir */
.mir {
  text-align: center;
  padding: 20px;
  background-color: #bdac988b;
  padding-top: 170px;
  font-size: 20px;
  margin-bottom: 90px;
}

/* it */
.it {
  text-align: center;
  font-size: 20px;
  background-image: url(/images/registry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  color: #ffffff;
}

/* button class */
.they {
  margin-top: 20px;
  background-color: green;
  padding: 20px;
  border: 1px solid green;
  border-radius: 2rem;
}

/* button link */
.they a {
  text-decoration: none;
  color: white;
  padding-left: 90px;
  padding-right: 90px;
}

/* footer */
.footer {
  position: relative;
  text-align: center;
  background-color: #bdac98;
  padding: 70px;
}

/* reg */
.reg {
  margin-bottom: 20px;
}

@media (max-width:768px) {
  .navbar {
    flex-direction: column;
  }

  ul {
    flex-direction: column;
    text-align: center;
  }

  .button a {
    padding-left: 100px;
    padding-right: 100px;
  }

  .invite {
    flex-direction: column;
    padding: 0 10px;
  }

  .in {
    width: 100%;
  }

  .out {
    width: 100%;
  }

  .elm {
    flex-direction: column;
    padding: 0px 10px;
  }

  .flower img {
    width: 355px;
    /* border-radius: 1rem; */
  }
  .flower{

  }

  .golden h3 {
    padding-top: 80px 0;
    padding-bottom: 80px;
  }

  .golden {
    width: 89.5%;
    margin-bottom: 0;
  }

  .Inn {
    flex-direction: column;
    padding: 0 10px;
  }

  .mirror img {
    width: 355px;
  }

  .mirror {
    margin-bottom: 0px;
  }
  .mir h3{
    margin-top: 0;
    padding-top: 80px 0 ;
    padding-bottom: 80px;
  }
  .mir{
    width: 89.5%;
  }

  .it p {
    padding: 0 10px;
  }
}